html, body {
    height: 100%;
    min-height: 100%;
}

.fill{
    overflow-y:scroll;
    overflow-x:hidden;
    margin:0;
    padding:0;
    position: relative;
    height:80%; /** older browsers **/
    height: -webkit-calc(100% - 125px); /** Safari 6, Chrome 19-25 **/
    height: -moz-calc(100% - 125px); /** FF 4-15  **/
    height: calc(100% - 125px); /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/
    /* height: calc(100vh - 125px); /** Much modern browers **/
}

.fill div.ng-scope{
    position: relative;
    height:100%;
}
.angular-google-map{
    position: relative;
    height: 100%;
}
.angular-google-map-container {
    position: relative;
    height:100%;
}